<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="username" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_id" data-rule="required" data-source="unidrink/scoreproduct/index" data-field="title" class="form-control selectpage" name="row[product_id]" type="text" value="{$row.product_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-number" data-rule="required" class="form-control" name="row[number]" type="number" value="{$row.number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" data-rule="required" class="form-control" name="row[score]" type="number" value="{$row.score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_score" data-rule="required" class="form-control" name="row[total_score]" type="number" value="{$row.total_score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Have_paid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-have_paid" data-rule="" type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[have_paid]" value="{:$row.have_paid?datetime($row.have_paid):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Have_delivered')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-have_delivered" data-rule="" type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[have_delivered]" value="{:$row.have_delivered?datetime($row.have_delivered):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Have_received')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-have_received" data-rule="" type="text" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[have_received]" value="{:$row.have_received?datetime($row.have_received):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Express number')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-express_number" name="row[express_number]" placeholder="输入快递单号并保存" class="form-control" type="text" value="{$row.express_number}">
        </div>
        <div class="col-xs-12 col-sm-4">
            <input id="c-express_company" name="row[express_company]" placeholder="输入快递公司" class="form-control" type="text" value="{$row.express_company}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_name" class="form-control" name="row[customer_name]" type="text" value="{$row.customer_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_phone" class="form-control" name="row[customer_phone]" type="text" value="{$row.customer_phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_address" class="form-control" name="row[customer_address]" type="text" value="{$row.customer_address}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
